<div>
    <h2 id="page-heading">
        <span jhiTranslate="jbhApp.usersGroup.home.title">Users Groups</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-users-group-jbh" [routerLink]="['/users-group-jbh/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jbhApp.usersGroup.home.createLabel">
            Create new Users Group
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="usersGroups">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jbhApp.usersGroup.name">Name</span></th>
            <th><span jhiTranslate="jbhApp.usersGroup.membersGroup">Members Group</span></th>
            <th><span jhiTranslate="jbhApp.usersGroup.idUserOwner">Id User Owner</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let usersGroup of usersGroups ;trackBy: trackId">
                <td><a [routerLink]="['/users-group-jbh', usersGroup.id, 'view' ]">{{usersGroup.id}}</a></td>
                <td>{{usersGroup.name}}</td>
                <td>
                    <div *ngIf="usersGroup.membersGroupId">
                        <a [routerLink]="['../members-group-jbh', usersGroup.membersGroupId , 'view' ]" >{{usersGroup.membersGroupId}}</a>
                    </div>
                </td>
                <td>
                    {{usersGroup.idUserOwnerId}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/users-group-jbh', usersGroup.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/users-group-jbh', usersGroup.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'users-group-jbh/'+ usersGroup.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
