<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="usersGroup">
            <h2><span jhiTranslate="jbhApp.usersGroup.detail.title">Users Group</span> {{usersGroup.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jbhApp.usersGroup.name">Name</span></dt>
                <dd>
                    <span>{{usersGroup.name}}</span>
                </dd>
                <dt><span jhiTranslate="jbhApp.usersGroup.invitationAccepted">Invitation Accepted</span></dt>
                <dd>
                    <span>{{usersGroup.invitationAccepted}}</span>
                </dd>
                <dt><span jhiTranslate="jbhApp.usersGroup.idUserOwner">Id User Owner</span></dt>
                <dd>
                    {{usersGroup.idUserOwnerId}}
                </dd>
                <dt><span jhiTranslate="jbhApp.usersGroup.idUserInvited">Id User Invited</span></dt>
                <dd>
                    {{usersGroup.idUserInvitedId}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/users-group-jbh', usersGroup.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
