<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-user-group-categories-jbh-heading" jhiTranslate="jbhApp.userGroupCategories.home.createOrEditLabel">Create or edit a User Group Categories</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!userGroupCategories.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="userGroupCategories.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jbhApp.userGroupCategories.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="userGroupCategories.name" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jbhApp.userGroupCategories.categories" for="field_categories">Categories</label>
                    <select class="form-control" id="field_categories" name="categories" [(ngModel)]="userGroupCategories.categoriesId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categoriesOption.id" *ngFor="let categoriesOption of categories; trackBy: trackCategoriesById">{{categoriesOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jbhApp.userGroupCategories.idUserGroup" for="field_idUserGroup">Id User Group</label>
                    <select class="form-control" id="field_idUserGroup" name="idUserGroup" [(ngModel)]="userGroupCategories.idUserGroupId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="usersGroupOption.id" *ngFor="let usersGroupOption of idusergroups; trackBy: trackUsersGroupById">{{usersGroupOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
