<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userGroupCategories">
            <h2><span jhiTranslate="jbhApp.userGroupCategories.detail.title">User Group Categories</span> {{userGroupCategories.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jbhApp.userGroupCategories.name">Name</span></dt>
                <dd>
                    <span>{{userGroupCategories.name}}</span>
                </dd>
                <dt><span jhiTranslate="jbhApp.userGroupCategories.categories">Categories</span></dt>
                <dd>
                    <div *ngIf="userGroupCategories.categoriesId">
                        <a [routerLink]="['/categories-jbh', userGroupCategories.categoriesId, 'view']">{{userGroupCategories.categoriesId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jbhApp.userGroupCategories.idUserGroup">Id User Group</span></dt>
                <dd>
                    <div *ngIf="userGroupCategories.idUserGroupId">
                        <a [routerLink]="['/users-group-jbh', userGroupCategories.idUserGroupId, 'view']">{{userGroupCategories.idUserGroupId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-group-categories-jbh', userGroupCategories.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
